@font-face {
  font-family: "SegoeUI";
  src: url('~@/assets/fonts/SegoeUI.woff2') format('woff2'), url('~@/assets/fonts/SegoeUI.woff') format('woff');
}
@font-face {
  font-family: "SegoeProSemiLight";
  src: url('~@/assets/fonts/SegoePro-Semilight.woff2') format('woff2'), url('~@/assets/fonts/SegoePro-Semilight.woff') format('woff');
}
@font-face {
  font-family: "SegoeProBold";
  src: url('~@/assets/fonts/SegoePro-Bold.woff2') format('woff2'), url('~@/assets/fonts/SegoePro-Bold.woff') format('woff');
}